<!DOCTYPE html>
<html lang='en' xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-text="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='UTF-8'>
    <title>Pet shop</title>
    <script src='../vue.js'></script>
    <link rel='stylesheet' type='text/css' href='assets/css/app.css'/>
    <link rel='stylesheet' href='../bootstrap/css/bootstrap.css'>
</head>
<body>
<div id='app'>
    <header class="navbar">
        <div class="navbar navbar-default">
            <h1 v-text="sitename" class="col"></h1>
        </div>
        <div class="nav navbar-nav navbar-right cart">
            <button v-on:click="showCheckout" type="button" class="btn btn-light btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart">
                        {{ cartItemCount }} 🛒 Checkout
                    </span>
            </button>
        </div>
    </header>
    <main>
        <div class="row product">
            <div class="row" v-if="showProduct">
                <div class="col-md-2 offset-1">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                </div>
                <div class="col-md-6 offset-2 description">
                    <h1 v-text="product.title"></h1>
                    <p v-html="product.description"></p>
                    <p class="price">
                        {{ product.price | formatPrice }}
                    </p>
                    <button type="button" class="btn btn-primary btn-lg" v-on:click="addToCart(product.id)"
                            v-if="canAddToCart">
                        Add to cart
                    </button>
                    <button type="button" disabled="true" class="btn btn-primary btn-lg" v-else>
                        Add to cart
                    </button>
                    <span class="inventory-message" v-if="product.availableInventory - cartItemCount === 0">
                        All out!
                    </span>
                    <span class="inventory-message" v-else-if="product.availableInventory - cartItemCount < 5">
                        Only {{ product.availableInventory - cartItemCount }} left!
                    </span>
                    <span class="inventory-message" v-else>Buy now!</span>
                </div>
            </div>
            <div v-else>
                <div class="offset-2 row">Pet shop checkout</div>
                <h3 class="offset-2 row">Enter your information</h3>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 offset-1"><strong>First name:</strong></div>
                        <div class="col-md-12 offset-1"><input v-model.trim="order.firstName" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 offset-1"><strong>Last name:</strong></div>
                        <div class="col-md-12 offset-1"><input v-model.trim="order.lastName" class="form-control"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 offset-1"><strong>Address:</strong></div>
                        <div class="col-md-12 offset-1"><input v-model.trim="order.address" class="form-control"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 offset-1"><strong>City:</strong></div>
                        <div class="col-md-12 offset-1"><input v-model.trim="order.city" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 offset-3"><strong>State:</strong></div>
                        <select v-model="order.state" class="form-control offset-5">
                            <option disabled value="">State</option>
                            <option v-for="(state, key) in states" v-bind:value="state">
                                {{ key }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 offset-4"><strong>Zip / Postal code:</strong></div>
                        <div class="col-md-12 offset-4"><input v-model.number="order.zip" class="form-control" type="number"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 boxes offset-4">
                            <input type="checkbox"
                                   id="gift"
                                   value="true"
                                   v-bind:true-value="order.sendGift"
                                   v-bind:false-value="order.dontSendGift"
                                   v-model="order.gift">
                            <label for="gift">Ship as Gift?</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 boxes offset-4">
                            <input type="radio"
                                   id="home"
                                   v-bind:value="order.home"
                                   v-model="order.method">
                            <label for="home">Home</label>
                            &nbsp&nbsp&nbsp
                            <input type="radio"
                                   id="business"
                                   v-bind:value="order.business"
                                   v-model="order.method">
                            <label for="business">Business</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 offset-6">
                            <button
                                    type="submit"
                                    class="btn btn-primary submit"
                                    v-on:click="submitForm">Place order
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 verify ">
                            <pre>
                                First name: {{ order.firstName }}
                                 Last name: {{ order.lastName }}
                                   Address: {{ order.address }}
                                      City: {{ order.city }}
                                       Zip: {{ order.zip }}
                                     State: {{ order.state }}
                                    Method: {{ order.method }}
                                      Gift: {{ order.gift }}
                            </pre>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script type='text/javascript'>
    var APP_LOG_LIFECYCLE_EVENTS = false;
    var webstore = new Vue({
        el: '#app',
        data: {
            sitename: 'Vue.js Pet shop',
            product: {
                id: 1001,
                title: 'Cat Food, 25lb bag',
                description: 'A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.',
                price: 2000,
                image: 'assets/images/product-fullsize.png',
                availableInventory: 10,
            },
            cart: [],
            order: {
                firstName: 'Crazy',
                lastName: 'Catlady',
                address: 'Damn st.',
                city: 'Craptown',
                zip: 123456,
                state: 'AL',
                method: 'Home address',
                home: "Home address",
                business: "Business address",
                gift: "Send as a Gift",
                sendGift: "Send as a Gift",
                dontSendGift: "Don't send as a Gift"
            },
            states: {
                AL: "Alabama",
                AR: "Arizona",
                CA: "California",
                NV: "Nevada"
            },
            showProduct: true,
        },
        computed: {
            fullName: function () {
                return `${this.user.firstName} ${this.user.lastName}`;
            },
            cartItemCount: function () {
                return this.cart.length || '';
            },
            canAddToCart: function () {
                return this.product.availableInventory > this.cartItemCount;
            }
        },
        methods: {
            addToCart: function (productId) {
                this.cart.push(productId);
            },
            showCheckout: function () {
                this.showProduct = !this.showProduct;
            },
            submitForm: function () {
                console.log('submitted');
            }
        },
        filters: {
            formatPrice: price => {
                if (!price)
                    return '';

                if (price < 99999)
                    return `$${(price / 100).toFixed(2)}`;

                let priceFloat = (price / 100).toFixed(2);
                let priceArray = String(priceFloat).split('').reverse();
                let index = 3;
                while (priceArray.length > index + 3) {
                    priceArray.splice(index + 3, 0, ',');
                    index += 4;
                }
                return `$${priceArray.reverse().join('')}`;
            }
        },
        beforeCreate: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('beforeCreate');
            }
        },
        created: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('created');
            }
        },
        beforeMount: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('beforeMount');
            }
        },
        mounted: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('mounted');
            }
        },
        beforeUpdate: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('beforeUpdate');
            }
        },
        updated: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('updated');
            }
        },
        beforeDestroy: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('beforeDestroy');
            }
        },
        destroyed: () => {
            if (APP_LOG_LIFECYCLE_EVENTS) {
                console.log('destroyed');
            }
        }

    });
</script>
</body>
</html>
